/* Personnalisation simple du DatePicker */
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__header {
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
}
.react-datepicker__day--selected, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-range {
  background-color: #4f46e5 !important; /* Indigo-600 */
  color: white !important;
}
.react-datepicker__day:hover {
  background-color: #e0e7ff !important; /* Indigo-100 */
}